#URLs
FAST_URL=Backend url
NEXT_PUBLIC_BASE_URL=Your Frontend url

#SMTP
SMTP_PASS=abcd efgh ijkl mnop
SMTP_USER=example@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587


#Redis (You don't need to fill this if you don't have a redis)
REDIS_HOST=admin
REDIS_PORT=123456
REDIS_PASSWORD=password