#URLs
FAST_URL=Backend url
NEXT_PUBLIC_BASE_URL=https://unkit.site

#Email Servicess
SMTP_PASS=abcd efgh ijkl mnop
SMTP_USER=example@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587


#Redis
REDIS_HOST=admin
REDIS_PORT=123456
REDIS_PASSWORD=password