@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --bordercolor: #ECF0F1;
  --background2: #070b1d;
  --background3: #0d1f3949;
}
.lightmode{
  --background: #fff;
  --foreground: #000;
  --background2: #e1e4f3;
  --background3: #30104b13;
}
body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}