@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
  --bordercolor: #ECF0F1;
}
.lightmode{
  --background: #fff;
  --foreground: #000;
}
body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  transition: all .3s;
}