@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
}
.lightmode{
  --background: #fff;
  --foreground: #000;
}
body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.custom-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.custom-scrollbar::-webkit-scrollbar {
  display: none; 
}


